<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stussy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark p-3 bg-white" id="headerNav">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" style="background-color: #ee3e38;" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/" style="color: #ee3e38; font-weight: 700;">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/product/" style="color: #ee3e38; font-weight: 700;">PRODUCTS</a>
                </li>
                <li class="nav-item d-none d-lg-block">

                    <img src="https://i.pinimg.com/736x/33/49/9d/33499d63fe9b534da06e8c227e1f8698.jpg" height="80" />
                  
                </li>
                <li class="nav-item d-none d-lg-block">
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/about/" style="color: #ee3e38; font-weight: 700;">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/contact/" style="color: #ee3e38; font-weight: 700;">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

 <!-- Content -->
<div class="text-center" style="background-color:#ee3e38; color: #ffffff; padding-top:60px; padding-bottom:60px;">
  <h1 style="font-size: 70px; font-weight: 400;"> CONTACT US</h1>
</div> 
        <!-- Map Section -->
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col-md-6 col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2011.0294588243587!2d38.78731088241572!3d8.997018043897459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b850257a12975%3A0xe2468e96cfb05b5b!2sMorning%20Star%20Mall!5e0!3m2!1sen!2set!4v1708203735786!5m2!1sen!2set" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        
            <!-- Contact Information Section -->
            <div class="col-md-6 col-sm-6">
              <h3 style="color:#ee3e38;">Contact Information</h3><hr style="height: 20px;">
              <p style="color:#777777"><strong>TELEPHONE:</strong> +251 900000000</p><br>
              <p style="color:#777777"><strong>GMAIL:</strong> stussy@gmail.com</p><br>
              <p style="color:#777777"><strong>INSTAGRAM:</strong> @stussy</p><br>
              <p style="color:#777777"><strong>TELEGRAM:</strong> @stussy</p><br>
              <p style="color:#777777"><strong>FACEBOOK:</strong> @stussy</p>
            </div>
          </div>
        </div>
</body>
</html>